Repository ansible-network/network_collections_migration: changes, and which Zuul jobs are due for each by the changed paths.
All: network-collections-migration-base, network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

network-collections-migration-base:
  parent: unittests
  pre-run: tests/playbooks/pre.yaml
  run:
  - tests/playbooks/run-pre.yaml
  - tests/playbooks/run.yaml
  - tests/playbooks/run-post.yaml
  required-projects:
  - name: github.com/ansible/ansible
  - name: github.com/ansible-network/collection_migration
  ...

network-collections-migration-ansible-netcommon:
  parent: network-collections-migration-base
  required-projects:
  - name: github.com/ansible-network/ansible_collections.ansible.netcommon
  vars:
    ansible_collection_namespace: ansible
    ansible_collection_name: netcommon
  ...

network-collections-migration-arista-eos:
  parent: network-collections-migration-base
  required-projects:
  - name: github.com/ansible-network/ansible_collections.arista.eos
  vars:
    ansible_collection_namespace: arista
    ansible_collection_name: eos

network-collections-migration-cisco-ios:
  parent: network-collections-migration-base
  required-projects:
  - name: github.com/ansible-network/ansible_collections.cisco.ios
  vars:
    ansible_collection_namespace: cisco
    ansible_collection_name: ios

network-collections-migration-cisco-iosxr:
  parent: network-collections-migration-base
  required-projects:
  - name: github.com/ansible-network/ansible_collections.cisco.iosxr
  vars:
    ansible_collection_namespace: cisco
    ansible_collection_name: iosxr

network-collections-migration-vyos-vyos:
  parent: network-collections-migration-base
  required-projects:
  - name: github.com/ansible-network/ansible_collections.vyos.vyos
  vars:
    ansible_collection_namespace: vyos
    ansible_collection_name: vyos

Add support for ansible.netcommon.netconf
  .zuul.yaml
  tools/cleanup_tests.sh
Due: network-collections-migration-base

Re-write iosxr tasks for ansible.netcommon
  scenarios/ansible/netcommon/cisco.yml
Due: network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

Add cleanup_netcommon_tests.sh script
  tests/playbooks/run-post.yaml
  tools/cleanup_netcommon_tests.sh
Due: network-collections-migration-base

Add junipernetworks.junos support
  .zuul.yaml
  scenarios/junipernetworks/junos/ansible.yml
  scenarios/junipernetworks/junos/junipernetworks.yml
Due: none

Also include junipernetworks for ansible.netcommon collection
  scenarios/ansible/netcommon/junipernetworks.yml
Due: network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

Support junipernetworks.junos in tools/cleanup_netcommon_tests.sh
  tools/cleanup_netcommon_tests.sh
Due: network-collections-migration-base

Create build-ansible-base job
  .zuul.yaml
Due: none

Add paramiko_ssh connection to ansible.netcommon
  scenarios/ansible/netcommon/ansible.yml
Due: network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

Add cisco.nxos collection
  .zuul.yaml
  scenarios/cisco/nxos/ansible.yml
  scenarios/cisco/nxos/cisco.yml
  tests/playbooks/run-post.yaml
  tools/cleanup_nxos.sh
Due: network-collections-migration-base

Add ansible.netcommon dependency to arista.eos
  scenarios/ansible/netcommon/arista.yml
Due: network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

Resync ansible.netcommon scenerio
  scenarios/ansible/netcommon/ansible.yml
Due: network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

Switch to venv for migrate.py scripts
  tests/playbooks/build-ansible-minimal/run-post.yaml
  tests/playbooks/run-post.yaml
  tests/playbooks/run.yaml
Due: network-collections-migration-base

Switch to base scenario from minimal
  .zuul.yaml
  bindep.txt
  tests/playbooks/build-ansible-minimal/pre.yaml
  tests/playbooks/build-ansible-minimal/run-post.yaml
Due: network-collections-migration-base

Add compat/ipaddress.py to ansible.netcommon
  scenarios/ansible/netcommon/ansible.yml
Due: network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

Sort vyos scenerio file
  scenarios/vyos/vyos/vyos.yml
Due: network-collections-migration-vyos-vyos

Add network_agnostic.py to netcommon
  scenarios/ansible/netcommon/ansible.yml
Due: network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

Rename jobs for new collection locations
  .zuul.yaml
Due: none

Switch to github.com/ansible-collection-migration/ansible-base
  .zuul.yaml
  tests/playbooks/build-ansible-minimal/pre.yaml
  tests/playbooks/build-ansible-minimal/run-post.yaml
Due: network-collections-migration-base

Add ipaddr filter to ansible.netcommon
  scenarios/ansible/netcommon/ansible.yml
Due: network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

Update README.rst with ansible-collections namespace
  README.rst
Due: none

Add ansible-collections/openvswitch support
  .zuul.yaml
  scenarios/openvswitch/openvswitch/ansible.yml
  scenarios/openvswitch/openvswitch/openvswitch.yml
Due: none

Add skydive.skydive collection
  .zuul.yaml
  scenarios/skydive/skydive/ansible.yml
  scenarios/skydive/skydive/skydive.yml
  tests/playbooks/run-post.yaml
Due: network-collections-migration-base

Add telnet to ansible.netcommon
  scenarios/ansible/netcommon/ansible.yml
Due: network-collections-migration-ansible-netcommon, network-collections-migration-arista-eos, network-collections-migration-cisco-ios, network-collections-migration-cisco-iosxr, network-collections-migration-vyos-vyos

Add frr.frr collection support
  .zuul.yaml
  scenarios/frr/frr/ansible.yml
  scenarios/frr/frr/frr.yml
Due: none

Add checkpoint.checkpoint collection
  .zuul.yaml
  scenarios/checkpoint/checkpoint/ansible.yml
  scenarios/checkpoint/checkpoint/checkpoint.yml
Due: none

Sort checkpoint.yml
  scenarios/checkpoint/checkpoint/checkpoint.yml
Due: none

Sort scenario file
  scenarios/skydive/skydive/skydive.yml
Due: none

Remove periodic jobs
  .zuul.yaml
Due: none

Add cisco.asa collection
  .zuul.yaml
  scenarios/cisco/asa/ansible.yml
  scenarios/cisco/asa/cisco.yml
Due: none

Use temp-2.10-devel branch for ansible-base job
  .zuul.yaml
  tests/playbooks/build-ansible-minimal/run-post.yaml
Due: network-collections-migration-base

Remove zuul jobs
  .zuul.yaml
Due: none

Path conditions:
  network-collections-migration-base: any of: tests/playbooks/.*, tools/.*
  network-collections-migration-ansible-netcommon: any of: scenarios/ansible/netcommon/.*
  network-collections-migration-arista-eos: any of: scenarios/ansible/netcommon/.*, scenarios/arista/eos/.*
  network-collections-migration-cisco-ios: any of: scenarios/ansible/netcommon/.*, scenarios/cisco/ios/.*
  network-collections-migration-cisco-iosxr: any of: scenarios/ansible/netcommon/.*, scenarios/cisco/iosxr/.*
  network-collections-migration-vyos-vyos: any of: scenarios/ansible/netcommon/.*, scenarios/vyos/vyos/.*
